!!!
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/frontpage.css')
		script(src='/socket.io/socket.io.js')
		script(src='https://ajax.googleapis.com/ajax/libs/mootools/1.4.1/mootools-yui-compressed.js')
		script(src='/js/frontpage.js')
			
			
	body!= body